.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}
.navbarItem {
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 4px solid transparent;
}
.navbarItem:hover,
.navbarItemActive {
  opacity: 1;
  font-weight: 600;
  border-bottom: 4px solid orange;
}
